{% extends 'base.html' %}
{% load bootstrap %}
{% block topcontent %}

{% load django_bootstrap_breadcrumbs %}
            {% block breadcrumb %}
            <ol class="breadcrumb fixed">
              <li><a href="/">Home</a></li>
              <li class="active">Questions</li>
            </ol>
            {% endblock breadcrumb %}

<div class="container-fluid">
  {% for ques in questions %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card  shadow mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ques.category}}</h5>
        <p class="card-text"><a href="#">{{ques.body}}</a></p>
        <strong>Author: {{ques.hunter}}</strong><br>
        <small>Created_at: {{ques.pub_date}}</small>
      </div>
      </div>
    </div>
  </div>
    {% endfor %}
</div>

{% endblock %}
